<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
      res.redirect('/')
  } %>
  
  <%# messages() %>
  
  <%- detail %>
  
  <script src="/js/add-cart.js"></script>
  <!-- <script src="/js/cart-server.js"></script> -->
 